node_modules/
.mirror_tmp/
.DS_Store
builder-cap2UI5/run/output/cap2UI5/
builder-abap2UI5-js/run/output/core/
builder-abap2UI5-js/adapters/web/dist/
builder-abap2UI5-js/adapters/web/register-all.generated.js
