node_modules/
target/
_out/
gen/

.cdsrc-private.json
default-*.json
*.sqlite
*.db

# MTA
mta_archives/
*_mta_build_tmp
*.mtar
resources/

# Other
.DS_Store
*.orig
*.log

# @cap-js/cds-typer
@cds-models

# frontend mirror workdir
.mirror_tmp/
